.div-footer {
    width: 100vw;
    height: auto;
    background-color: #212021;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer {
        width: 90%;
        height: 100%;

        .row-footer {
            display: flex;
            align-items: center;
            justify-content: center;

            .col-footer {
                margin-top: 1rem;
                .text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .img{
                    display: flex;
                    justify-content: center;
                    img{
                        max-width: 12rem;
                    }
                }
            }
        }
    }
}
