@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    color: white;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #ffffff;
    text-decoration:underline;
    padding: 0.3rem;
}

.row,
columns {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #a3743e;
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4) 50%, transparent, transparent)
}

input:-internal-autofill-selected{
    appearance: menulist-button;
    background-image: none !important;
    background-color:transparent !important;
    color: fieldtext !important;
}

