@import "../root.scss";
.div-about {
    width: 100vw;
    height: 80vh;
    display: flex;
    background-color: white;

    .about {
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        backdrop-filter: blur(10px);

        .row-about {
            display: flex;
            justify-content: center;
            .col-about-img{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2rem;
                
                .img-about{
                    border-radius: 2rem;
                    max-height: 60vh;
                }
            }

            .col-about {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                word-wrap: break-word;

                .about-text {
                    font-weight: 800;
                    margin-left: 2rem;
                    margin-right: 2rem;
                    color:black;

                    .about-title {
                        font-weight: 800;
                        color:black;
                        margin-bottom: 1rem;
                    }
                    .about-text-text{
                        color:black;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .div-about {
        height: auto;
        .about {
            .row-about {
                background-position: 25%;

                .col-about {
                    .about-text {
                        .about-title {}
                    }
                }
            }
        }
    }
}

