@import "../root.scss";

.div-form {
    width: 100vw;
    height: 100vh;
    display: flex;

    .form {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        flex-direction: column;

        .form-background-color {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.678);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .title-form {
                margin-top: 2rem;
                font-weight: 700;
                text-decoration-line: none;
            }

            .form-contact {
                width: 90%;

                .col-form {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .form {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        width: 100%;

                        .field {
                            margin-bottom: 2rem;

                            .input-form {
                                width: 20rem;
                                background-color: transparent;
                                border: none;
                                outline: none;
                                border-bottom: 2px solid rgba(255, 255, 255, 0.596);
                                color: white;

                                .text-error {
                                    p {
                                        margin: 0;
                                        padding: 0;
                                    }
                                }
                            }

                            .phone[type=number]::-webkit-inner-spin-button,
                            .phone[type=number]::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                            .phone[type=number] {
                                -moz-appearance: textfield;
                            }


                        }

                        h4 {
                            margin-bottom: 0.1rem;
                        }

                        input::placeholder {
                            color: rgba(255, 255, 255, 0.596)
                        }

                        .date-form {
                            outline: none;
                            background-color: transparent;
                        }



                        .btn {
                            color: white;
                            border: 3px solid $golden;
                        }

                        .btn:hover {
                            background-color: $gris;
                            border: 3px solid $golden;
                        }
                    }

                    .sec-form {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;
                        width: 100%;
                        margin: 2rem;

                        .title {
                            display: flex;
                            align-items: center;

                            width: 100%;
                            gap: 1rem;

                            .line {
                                width: 2rem;
                                height: 0px;
                                border: 1px solid white;
                                margin-top: -0.5rem;
                            }
                        }

                        .icons {
                            display: flex;
                            width: 100%;
                            align-items: center;
                            margin: 0rem 2rem;

                            .bi {
                                font-size: 2rem;
                                margin: 2rem;
                            }

                            .bi:hover {
                                color: $golden;
                                font-size: 2.2rem;
                                transition: 0.2s;
                            }
                        }
                    }
                }
            }
        }
    }
}

.form-date {
    display: flex;
    flex-direction: column;
}

.form-date__label {
    font-family: "Helvetica", arial, sans-serif;

    color: #ffffff;
}

.form-date__input {
    color: #ffffff;
    font-family: "Helvetica", arial, sans-serif;
    background: transparent;
    display: inline-block;
    visibility: visible;
    position: relative;
    border-bottom: 10px solid white;
}

.form-date__input:focus {
    outline: 0;
}

.form-date__input::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background: 0 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    pointer-events: auto;
}

.form-date__input::-webkit-date-and-time-value {
    margin: 0;
}

.form-date__input {
    border: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
}


.form-date__input::-webkit-inner-spin-button,
.form-date__input::-webkit-outer-spin-button,
.form-date__input::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

.form-date__input:focus {
    outline: 0;
}

.form-select__input {
    color: #ffffff;
    font-family: "Helvetica", arial, sans-serif;
    display: inline-block;
    visibility: visible;
    position: relative;
    border: none;
    background-color: transparent;
    background: transparent;
}

.form-select__input select,
option {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

.form-select__input select,
option:hover {
    color: red
}

.form-select__input:focus {
    outline: 0;
    background-color: transparent;
}

@media screen and (max-width:768px) {
    .div-form {
        height: 110vh;

        .form {
            background-position: 35%;

            .form-background-color {
                .title-form {
                    margin: 2rem;
                }

                .form-contact {
                    .col-form {
                        .form {
                            h4 {}

                            .input-form {}

                            input::placeholder {}

                            .date-form {}

                            .btn {}
                        }

                        .sec-form {
                            .title {
                                .line {}
                            }

                            .icons {
                                display: flex;
                                width: 75%;
                                align-items: center;

                                .bi {
                                    font-size: 1.5rem;
                                    margin: 1rem;
                                }
                                .bi:hover {
                                    color: $golden;
                                    font-size: 1.75rem;
                                    transition: 0.2s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width:576px) {
    .div-form {
        height: 120vh;

        .form {
            .form-background-color {
                .title-form {
                    margin: 2rem;
                }

                .form-contact {
                    .col-form {
                        .form {
                            h4 {}

                            .input-form {}

                            input::placeholder {}

                            .date-form {}

                            .btn {}
                        }

                        .sec-form {
                            .title {
                                .line {}
                            }

                            .icons {
                                .bi {}
                            }
                        }
                    }
                }
            }
        }
    }

}