@import "../root.scss";

.div-home {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .home {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 30%;


        .row {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: center;

            .presentation {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                justify-content: center;
                margin-top: -15rem;

                .presentation-text {
                    width: auto;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;

                    .title-presentation {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.25rem;
                        width: 100vw;

                        .line {
                            border-bottom: 3px solid white;
                            width: 10rem;
                            margin: 0rem 1rem 0rem 1rem;

                        }

                        .presentation-name {
                            font-size: 5rem;
                            font-weight: 800;

                        }
                    }

                    .buttons-presentation {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        gap: 1rem;

                        .btn {
                            color: white;
                            font-size: 1.2rem;
                            padding: 1rem;
                            border: 3px solid $golden;
                            font-weight: 800;
                            border-radius: 2rem;
                            background-color: #2020209d;
                        }

                        .btn:hover {
                            padding: 1.3rem;
                            background-color: #202020ee;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1400px) {}

@media screen and (max-width:1200px) {
    .div-home {
        .home {
            .row {
                .presentation {
                    .presentation-text {
                        .title-presentation {
                            img {
                                width: 50rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:992px) {
}

@media screen and (max-width:756px) {
    .div-home {
        .home {
            .row {
                .presentation {
                    margin-top: 0rem;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {}