@import "../root.scss";

.div-carta {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    backdrop-filter: blur(4px);
    background-size: 100%;
    background-position: 50%;

    .carta {
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: repeat;
        background-position: 50%;
        

        .carta-blur {
            width: 100%;
            height: auto;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-position: 50%;

            .title {
                font-weight: 700;
                text-decoration-line: underline;
                margin: 1rem;
            }

            .row-carta {
                width: 90%;
                background-color: #20202086;
                backdrop-filter: blur(10px);
                border-radius: 0.3rem;
                display: flex;
                justify-content: center;
                height: auto;
                margin: 1rem 0rem;

                .col-carta {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: transparent;

                    .section {
                        margin: 0.5rem;
                        width: 100%;
                        background-color: transparent;

                        .title-section {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .line {
                                border: 1px solid white;
                                width: 100%;
                                margin: 1rem;
                            }
                        }

                        .products-section {
                            width: 100%;


                            .div-product {
                                margin: 1rem 0;

                                width: 100%;

                                .title-product {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    width: 100%;


                                    .titleP {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        img {
                                            width: 2rem;
                                            margin: 0 0.5rem;
                                        }
                                    }
                                }

                                .description {
                                    text-align: start;

                                }

                            }

                        }

                    }

                    .tab-content {

                        .tab-pane {

                            img {
                                max-height: 30rem;
                                max-width: 30rem;
                                border-radius: 20%;
                                margin: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }


}


.tab-content>.active {
    display: flex;
    align-items: center;
    justify-content: center;
}



.nav-pills {
    color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent;
}

@media screen and (max-width:1200px) {

    .div-carta .carta .carta-blur .row-carta .col-carta .tab-content .tab-pane img {
        max-height: 20rem;
        max-width: 20rem;
        margin: 1rem;
    }

}

@media screen and (max-width:992px) {

    .div-carta .carta .carta-blur .row-carta .col-carta .tab-content .tab-pane img {
        max-height: 18rem;
        max-width: 18rem;
        margin: 1rem;
    }

}

@media screen and (max-width:768px) {
    .carta-blur {
        margin-top: 5rem;
        width: 100%;
        height: 100vh;
        position: absolute;
    }

    .div-carta .carta .carta-blur .row-carta .col-carta .tab-content .tab-pane img {
        max-height: 16rem;
        max-width: 16rem;
    }

}

@media screen and (max-width:576px) {


    .div-carta .carta .carta-blur .row-carta .col-carta .tab-content .tab-pane img {
        max-height: 14rem;
        max-width: 14rem;
    }

}