.div-admin {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    text-align: center;
    background-size: cover;
    min-height: 100vh;
    background-repeat: repeat;

    .section-title {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 1rem;
    }

    .admin-categories {
        margin-top: 1rem;
        display: flex;

        .row-categories-admin {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            
        }


        .categories {
            padding: 2rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.5rem;
            border: 1px solid rgb(255, 255, 255);
            background-color: rgba(0, 0, 0, 0.699);
            margin: 0.5rem;

            .img-product{
                width: 15rem;
                height: 15rem;
            }

            img {
                width: 4rem;
                height: 4rem;
                background-color: rgba(240, 248, 255, 0.199);
                border-radius: 20%;
            }

            .categories-buttons {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                margin-top: 0.5rem;
            }
        }
    }
}

@media (max-width:768px) {
    .div-admin {
        background-color: rgb(0, 0, 0);
        width: 100%;
        text-align: center;
        background-repeat: repeat;


        .section-title {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 5rem;
            gap: 1rem;
        }
        .admin-categories {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            .categories {
                padding: 2rem;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 0.5rem;
                border: 1px solid rgb(255, 255, 255);
                margin: 0.5rem;
                
                .img-product{
                    width: 12rem;
                    height: 12rem;
                }
            }
        }
    }
}